force-app/main/default/flows/Test_Any_flow_Local_Action.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_Account_Phone</name>
        <label>Add Account Phone</label>
        <locationX>286</locationX>
        <locationY>265</locationY>
        <actionName>c:anyLocalAction</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Deserialize_Accounts</targetReference>
        </connector>
        <inputParameters>
            <name>args</name>
            <value>
                <stringValue>{&quot;names&quot;:{!vAccountsCollStr}}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>js</name>
            <value>
                <stringValue>return JSON.stringify(args.names.map(row=&gt;{row.Phone=&#39;33243242&#39;;row.Type=&#39;Customer - Direct&#39;;return row}))</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>vActionOpString</assignToReference>
            <name>output</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>vActionOpArray</assignToReference>
            <name>outputArray</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Deserialize_Accounts</name>
        <label>Deserialize Accounts</label>
        <locationX>457</locationX>
        <locationY>125</locationY>
        <actionName>DeserializeInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>UpdateAccountRecords</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>recordsArrayStr</name>
            <value>
                <elementReference>vActionOpString</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>AccountsColl</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Serialize_Accounts_Coll</name>
        <label>Serialize Accounts Coll</label>
        <locationX>138</locationX>
        <locationY>228</locationY>
        <actionName>SerializeInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Account_Phone</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__sobjectArrays</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>sobjectArrays</name>
            <value>
                <elementReference>AccountsColl</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>vAccountsCollStr</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <interviewLabel>Test Any flow Local Action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test Any flow Local Action</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>233</locationX>
        <locationY>92</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Serialize_Accounts_Coll</targetReference>
        </connector>
        <object>Account</object>
        <outputReference>AccountsColl</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Industry</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAccountRecords</name>
        <label>UpdateAccountRecords</label>
        <locationX>658</locationX>
        <locationY>107</locationY>
        <inputReference>AccountsColl</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Accounts</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AccountsColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>vAccountsCollStr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vActionOpArray</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vActionOpString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLoopVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
